<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />

    <title>Noodles!</title>
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <div class="container my-container">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navigation</a>
      </nav>
      <div class="row my-row">
        <div class="col d-block my-column">
          <h1>Noodles!</h1>
        </div>
      </div>
      <div class="row my-row">
        <div class="col-12 my-column">
          <h3><%= recipes[0].category %> Noodles Recipes</h3>
          <p>
            <a
              href="?sortBy=source<%= ((sortBy === 'source') && (sortOrder === 'asc')) ? '&sortOrder=desc' : '&sortOrder=asc' %>"
              >Sort by Source <% if ((sortBy === 'source') && (sortOrder ===
              'asc')) { %>↑<% } else if ((sortBy === 'source') && (sortOrder ===
              'desc')) { %>↓<% }%>
            </a>
            |
            <a
              href="?sortBy=label<%= ((sortBy === 'label') && (sortOrder === 'asc')) ? '&sortOrder=desc' : '&sortOrder=asc' %>"
              >Sort by Label <% if ((sortBy === 'label') && (sortOrder ===
              'asc')) { %>↑<% } else if ((sortBy === 'label') && (sortOrder ===
              'desc')) { %>↓<% }%>
            </a>
            |
            <a
              href="?sortBy=yield<%= ((sortBy === 'yield') && (sortOrder === 'asc')) ? '&sortOrder=desc' : '&sortOrder=asc' %>"
              >Sort by Yield <% if ((sortBy === 'yield') && (sortOrder ===
              'asc')) { %>↑<% } else if ((sortBy === 'yield') && (sortOrder ===
              'desc')) { %>↓<% }%>
            </a>
            |
            <a
              href="?sortBy=caution<%= ((sortBy === 'caution') && (sortOrder === 'asc')) ? '&sortOrder=desc' : '&sortOrder=asc' %>"
              >Sort by Caution <% if ((sortBy === 'caution') && (sortOrder ===
              'asc')) { %>↑<% } else if ((sortBy === 'caution') && (sortOrder
              === 'desc')) { %>↓<% }%>
            </a>
          </p>
          <ul>
            <% recipes.forEach((recipe) => { %>
            <li>
              <a href="/recipe/<%= recipe.index %>"
                ><%= recipe.label %> (<%= recipe.source %>)</a
              >
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
      <div class="row my-row">
        <div class="col my-col">
          <a href="/">Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
