<% for( let i = 0; i < filteredList.length; i++ ) { %>
<a href="/">Click to go back to categories</a>
<p>Source: <%= filteredList[i].source%></p>
<p>Label: <%= filteredList[i].label%></p>
<p>Url: <%= filteredList[i].url%></p>
<p>Yield: <%= filteredList[i].yield%></p>
<p>Caution: <%= filteredList[i].caution%></p>
<p>Category: <%= filteredList[i].category%></p>
<p>Ingredients: <%= filteredList[i].ingredients%></p>
<hr />

<% } %>
